// Functions
$default-browser-font-size: 16;

@function rem($pixels, $context: $default-browser-font-size) {
  @if unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @if unitless($context) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

$types: 7; // Total Types

// Colors
$black: #000;
$white: #FFF;

// Divi 100 Settings
$prefix-plugin: "custom_hamburger_menu";
$prefix: ".et_divi_100_" + $prefix-plugin;
$prefix-icon: $prefix + "__icon";
$prefix-style: $prefix + "--style-";
$prefix-toggle: $prefix-icon + "--toggled";
$prefix-type: $prefix + "--type-";

// Hamburger Settings
$hamburger-size: rem(30); // Hamburger Size
$bar-total: 3; // Bar Total
$bar-height: rem(2); // Bar Height
$bar-duration: 0.3s;
$bar-timing: cubic-bezier(0.28, 0.55, 0.385, 1.65);

@media only screen and (max-width: 980px) {}

/* Menu */
#{$prefix-icon} {
  position: relative;
  display: block;
  width: $hamburger-size;
  height: $hamburger-size;
  box-sizing: border-box;
  cursor: pointer;
  padding: ($hamburger-size - $bar-height * $bar-total) / ($bar-total * 2);
  clear: both;

  div {
    background: $black;
    width: 100%;
    height: $bar-height;
    margin: (($hamburger-size - $bar-height * $bar-total) / ($bar-total * 2)) auto;
    border-radius: 10px;
    transition: $bar-duration $bar-timing;
    transition-timing-function: $bar-timing;
    transform: 0;
    transform-origin: center;

    &:before,
    &:after {
      transition: $bar-duration $bar-timing;
      transition-timing-function: $bar-timing;
    }
  }
}

@mixin type($type) {
  #{$prefix-type + $type + " " + $prefix-icon} {
    @content;
  }
}

@mixin style($type, $style) {
  #{$prefix-type + $type + $prefix-style + $style + " " + $prefix-icon + $prefix-toggle} {
    @content;
  }
}

/* Type 1 */
@import "types/type-1";

/* Type 2 */
@import "types/type-2";

/* Type 3 */
@import "types/type-3";

/* Type 4 */
@import "types/type-4";

/* Toggled */
#{$prefix-icon + $prefix-toggle} {

  div {
    width: 100%;
    animation-duration: $bar-duration * 2;
    animation-timing-function: $bar-timing;

    &:after,
    &:before {
      width: 100%;
    }

    &:first-child {
      transform: translateY(($hamburger-size - $bar-height + $bar-height) / ($bar-total * 2) + $bar-height / 2) rotate(45deg);
    }

    &:not(:first-child):not(:last-child) {
      opacity: 0;
    }

    &:last-child {
      transform: translateY(-(($hamburger-size - $bar-height + $bar-height) / ($bar-total * 2) + $bar-height / 2)) rotate(-45deg);
    }
  }
}

#{$prefix} {

  .mobile_menu_bar {
    &:before,
    &:after {
      display: none;
    }
  }
}

@media (max-width: 980px) {
  #{$prefix} {

    .mobile_menu_bar {
      padding-bottom: 0;
      margin-bottom: 26px;
    }
  }
}