@include type(2) {
  div {
    display: flex;
    flex-direction: row;
    background: 0;

    &:before,
    &:after {
      content: '';
      display: block;
      background: $black;
      width: 2px;
      min-width: 2px;
      height: 2px;
      border-radius: 10px;
      margin: 0 2px 0 0;
    }

    &:after {
      width: 100%;
      margin: 0;
    }
  }
}