// Functions
$default-browser-font-size: 16;

@function rem($pixels, $context: $default-browser-font-size) {
  @if unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @if unitless($context) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

$types: 7; // Total Types

// Colors
$black: #000;
$white: #FFF;

// Divi 100 Settings
$prefix-plugin: "custom_hamburger_menu";
$prefix-style: "--style-";
$prefix-toggle: "--toggle";
$prefix-type: "--type-";
$prefix: ".et_divi_100_" + $prefix-plugin;

// Hamburger Settings
$hamburger-size: rem(30); // Hamburger Size
$bar-total: 3; // Bar Total
$bar-height: rem(2); // Bar Height
$duration: 0.3s;
$timing: cubic-bezier(0.28, 0.55, 0.385, 1.65);

@media only screen and (max-width: 980px) {}

/* Menu */
#{$prefix} {
  position: relative;
  display: block;
  width: $hamburger-size;
  height: $hamburger-size;
  box-sizing: border-box;
  cursor: pointer;
  padding: ($hamburger-size - $bar-height * 3) / ($bar-total * 2);
  clear: both;

  div {
    background: $black;
    width: 100%;
    height: $bar-height;
    margin: (($hamburger-size - $bar-height * 3) / ($bar-total * 2)) auto;
    border-radius: 10px;
    transition: $duration $timing;
    transition-timing-function: $timing;
    transform: 0;
    transform-origin: center;
  }
}

/* Type */
#{$prefix + $prefix-type} {

  // Type 1
  &1 {
    /* Style */
    &#{$prefix + $prefix-plugin + $prefix-style} {

      // Style 1
      &1 {
        #{$prefix} {
          &#{$prefix-toggle} {}
        }
      }

      // Style 2
      &2 {
        #{$prefix} {
          &#{$prefix-toggle} {}
        }
      }

      // Style 3
      &3 {
        #{$prefix} {
          &#{$prefix-toggle} {}
        }
      }

      // Style 4
      &4 {
        #{$prefix} {
          &#{$prefix-toggle} {}
        }
      }

      // Style 5
      &5 {
        #{$prefix} {
          &#{$prefix-toggle} {}
        }
      }
    }
  }

  // Type 2
  &2 {
    #{$prefix} {

      div {
        display: flex;
        flex-direction: row;
        background: 0;

        &:before,
        &:after {
          content: '';
          display: block;
          background: $black;
          width: 2px;
          min-width: 2px;
          height: 2px;
          border-radius: 10px;
          margin: 0 2px 0 0;
          transition: $duration $timing;
          transition-timing-function: $timing;
        }

        &:after {
          width: 100%;
          margin: 0;
        }
      }
    }
  }

  // Type 3
  &3 {
    @extend #{$prefix + $prefix-type + "2"};

    #{$prefix} {

      div {
        &:before {
          width: 100%;
          margin: 0 2px 0 0;
        }

        &:after {
          width: 2px;
          margin: 0;
        }
      }
    }
  }

  // Type 4
  &4 {
    #{$prefix} {

      div {
        width: 2px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}