// Functions
$default-browser-font-size: 16;

@function rem($pixels, $context: $default-browser-font-size) {
  @if unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @if unitless($context) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

$types: 7; // Total Types

// Colors
$black: #000;
$white: #FFF;

// Divi 100 Settings
$prefix-plugin: "custom_hamburger_menu";
$prefix: ".et_divi_100_" + $prefix-plugin;
$prefix-style: $prefix + "--style-";
$prefix-toggle: $prefix + "--toggled";
$prefix-type: $prefix + "--type-";

// Hamburger Settings
$hamburger-size: rem(30); // Hamburger Size
$bar-total: 3; // Bar Total
$bar-height: rem(2); // Bar Height
$bar-duration: 0.3s;
$bar-timing: cubic-bezier(0.28, 0.55, 0.385, 1.65);

@media only screen and (max-width: 980px) {}

/* Menu */
#{$prefix} {
  position: relative;
  display: block;
  width: $hamburger-size;
  height: $hamburger-size;
  box-sizing: border-box;
  cursor: pointer;
  padding: ($hamburger-size - $bar-height * $bar-total) / ($bar-total * 2);
  clear: both;

  div {
    background: $black;
    width: 100%;
    height: $bar-height;
    margin: (($hamburger-size - $bar-height * $bar-total) / ($bar-total * 2)) auto;
    border-radius: 10px;
    transition: $bar-duration $bar-timing;
    transition-timing-function: $bar-timing;
    transform: 0;
    transform-origin: center;

    &:before,
    &:after {
      transition: $bar-duration $bar-timing;
      transition-timing-function: $bar-timing;
    }
  }
}

@mixin type($type) {
  #{$prefix-type + $type + " " + $prefix} {
    @content;
  }
}

@mixin style($type, $style) {
  #{$prefix-type + $type + $prefix-style + $style + " " + $prefix + $prefix-toggle} {
    @content;
  }
}

/* Type 1 */
@import "types/type-1";

/* Type 2 */
@import "types/type-2";

/* Type 3 */
@import "types/type-3";

/* Type 4 */
@import "types/type-4";

/* Toggled */
#{$prefix + $prefix-toggle} {

  div {
    width: 100%;
    animation-duration: $bar-duration * 2;
    animation-timing-function: $bar-timing;

    &:after,
    &:before {
      width: 100%;
    }

    &:first-child {
      transform: translateY(($hamburger-size - $bar-height + $bar-height) / ($bar-total * 2) + $bar-height / 2) rotate(45deg);
    }

    &:not(:first-child):not(:last-child) {
      opacity: 0;
    }

    &:last-child {
      transform: translateY(-(($hamburger-size - $bar-height + $bar-height) / ($bar-total * 2) + $bar-height / 2)) rotate(-45deg);
    }
  }
}

.mobile_menu_bar {
  padding-bottom: 0;
  margin-bottom: 26px;

  &:before {
    display: none;
  }
}

// Demo
body {
  background: #F3F3F3;
  font-family: 'Open Sans';
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  margin: 80px 0;
}

.row {
  position: relative;
  margin: 0 0 40px;
}

.col {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 100% / $types;
  width: 100% / $types;
  max-width: 100% / $types;
  min-width: 100% / $types;
}

.label {
  margin: 0 0 10px;
  font-size: 10px;
}

.et_custom_hamburger_menu {
  background: rgba($black, 0.1);
  margin: 0 auto;
}

.toggle_all {
  display: block;
  background: rgba($black, 0.1);
  max-width: 120px;
  margin: 40px auto;
  border: 0;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 10px;
  cursor: pointer;
}